/* Centrer toute la page login */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* pour démarrer en haut */
  padding-top: 200px; /* ← ICI on ajoute de l’espace au dessus */
  min-height: calc(100vh - 150px); /* pour bien centrer la page */
  
}
.login-container {
    background-color: #fff;
    padding: 80px 100px; /* plus de padding */
    max-width: 1000px;   /* plus large */
    width: 100%;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border: 1px solid #e5e5e5;
    margin-top: 20px; /* espace avec le header */
    border-radius: 4px; /* optionnel : bords légèrement arrondis */
        text-align: left; /* on garde le titre à gauche */

}


.login-title {
    font-size: 18px;
  font-weight: normal;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #333;
  text-align: left;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 15px;
      align-items: center; /* ← POUR CENTRER email et bouton */

}
.login-input {
  width: 60%;
  padding: 14px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 0; /* PAS d’arrondi comme Hermes */
  margin-bottom: 8px;
  box-sizing: border-box;
}

.login-button {
  background-color: #333; /* noir */
  color: white;
  padding: 14px;
  font-size: 16px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
   width: 270px;
}

/* Quand il est désactivé → même couleur noir (Hermès fait comme ça) */
.login-button:disabled {
  background-color: #333;
  opacity: 0.5;
  cursor: not-allowed;
}

.hint {
  font-size: 12px;
  color: #777;
      text-align: center; /* centré sous le input */

}
