<div class="filters">
  <a routerLink="/catalog" [queryParams]="{filter:'Soin Visage'}" routerLinkActive="active" class="button" i18n >Soin Visage</a>
  <a routerLink="/catalog" [queryParams]="{filter:'Sérum'}" routerLinkActive="active" class="button" i18n>Sérum</a>
  <a routerLink="/catalog" [queryParams]="{filter:'Solaire'}" routerLinkActive="active" class="button" i18n>Solaire</a>
  <a routerLink="/catalog" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="button" i18n>Tous les produits</a>
</div>

<div class="header-with-logo">
  <img src="assets/roche.png" alt="La Roche-Posay" class="logo">
  <h2 class="title" i18n >Skin Care Products</h2>
</div>

<div class="products-container">
  <ng-container *ngFor="let product of getFilteredProducts()">
    <div
      *ngIf="product.quantity > 0"
      class="product-card"
      [ngStyle]="{ 'background-color': product.quantity < 10 ? 'pink' : 'white' }"
    >
      <img [src]="product.image" [alt]="product.name_product" class="product-image" />
      <h2 class="product-name">{{ product.name_product }}</h2>
      <p class="product-brand">{{ product.brand }}</p>
      <p class="product-price">{{ product.price }} MAD</p>
      <button (click)="voirDetails(product)" class="btn-details">Voir détails</button>
    </div>
  </ng-container>
</div>

<app-product-details-compnent
  *ngIf="selectedProduct"
  [product]="selectedProduct">
</app-product-details-compnent>
