body {
    background-color: #f1ede8 !important;
}

html, app-root {
    background-color: transparent !important;
}

.hermes-container,
.hermes-hero,
.hermes-details-column,

.hermes-summer-section {
    background-color: transparent !important;
}
.hermes-product-card {
    background-color: transparent !important;
    border: none;
    box-shadow: none;
}
